.site-button:hover,
footer {
    background-image: linear-gradient(45deg, #ff4500, #ff0);
    color: #000
}

.next-project,
.prev-project,
.site-button {
    transition: background-color .3s;
    text-decoration: none
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

body::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    opacity: .05
}

footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: auto
}

.copyright2,
.rights-reserved {
    font-family: "Source Code Pro", monospace;
    color: #000;
    font-size: .8rem;
    margin: 5px
}

.copyright2 {
    float: left;
    margin-left: 15vw
}

.rights-reserved {
    float: right;
    margin-right: 15vw
}

.content-section {
    display: flex;
    position: relative;
    min-height: 50vh;
    justify-content: space-between;
    margin: 0 auto;
    width: 70vw;
    flex-direction: column;
    padding: 50px 50px 0 50px
}

.content1,
.content4 {
    margin: 0 20px
}

.content1 {
    display: flex;
    align-items: center
}

.content4 {
    align-items: center;
    margin: 0 auto
}

.title {
    font-size: 2rem;
    margin-bottom: 10px
}

.description,
.site-button {
    font-style: normal;
    font-size: 2.1vh;
    font-family: "Source Code Pro", monospace;
    color: #fff
}

.description {
    flex: 1;
    width: 90%;
    text-transform: uppercase;
    font-optical-sizing: auto;
    flex-grow: 1
}

.site-link {
    margin: 20px 0 0
}

.site-button {
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #fff;
    display: inline-block;
    font-weight: 400;
    z-index: 5;
    padding: 10px 20px
}

.image {
    max-width: 30%;
    height: auto;
    flex-shrink: 0;
    margin-right: 30px
}

.divider {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 20px 0
}

.contributors {
    display: flex;
    flex-wrap: wrap;
    max-width: 0 90%;
    margin-top: 20px
}

.contributor {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.contributor h4,
.contributor h5 {
    font-family: "Source Code Pro", monospace;
    color: #fff
}

.contributor h4 {
    margin-bottom: 5px
}

.contributor h5 {
    margin-bottom: 15px;
    font-weight: 300
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: auto
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #fff
}

.breadcrumb a:not(:last-child):hover::after,
.social-icons a:hover {
    background: linear-gradient(45deg, #fd7c18, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.breadcrumb {
    margin-bottom: 20px;
    text-align: left
}

.breadcrumb a {
    text-decoration: none;
    color: silver;
    transition: color .3s
}

.breadcrumb span {
    color: #fff;
    font-family: Orbitron;
    font-weight: 700
}

.breadcrumb a:not(:last-child)::after {
    content: " > ";
    margin: 0 5px;
    color: #fff
}

.img-content-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50vw;
    margin: 0 auto
}

.content2,
.content3 {
    width: 100%;
    padding: 20px;
    box-sizing: border-box
}

.content3 {
    padding-bottom: 100px
}

.content-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center
}

.img-content,
.youtube-video,
iframe {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.youtube-video,
iframe {
    height: 520px
}

iframe:hover {
    border-color: #ff4500
}

.project-navigation {
    position: fixed;
    top: 50%;
    right: calc(25px);
    z-index: 99;
    transform: translateY(-50%)
}

.next-project,
.prev-project {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff7300;
    font-size: 14px;
    color: #fff
}

.next-project a,
.prev-project a {
    color: #fff;
    text-decoration: none
}

.next-project:hover,
.prev-project:hover {
    background-color: #cc3700
}

.nav-link2 {
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 1rem
}

@media only screen and (max-width:768px) {

    .youtube-video,
    iframe {
        max-width: 100%;
        height: 210px
    }

    .breadcrumb {
        padding-top: 2vh;
        margin: 0 auto
    }

    .content1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center
    }

    .content1 .image {
        margin-bottom: 20px
    }

    .image {
        max-width: 100%;
        margin: 0;
        padding: 10px
    }

    .content1 .description {
        margin: 0 auto;
        font-size: 2vh
    }

    .content-section {
        padding: 0
    }

    .contributors {
        display: block
    }

    .copyright2,
    .rights-reserved,
    footer {
        display: flex;
        flex-direction: column;
        margin: 0 auto
    }

    .img-content-section {
        max-width: 70vw;
        margin: 0 auto
    }
}